@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

} 
body{ 
    background: white;

}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    position: fixed;
    width: 300px;
    height: 100%;
    background:#2B2B2B ;
    padding:30px 0;

}

.wrapper .sidebar h2{
    color:#CCCCCC;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px ;
    font-family: 'Spectral', serif;

}

.wrapper .sidebar ul li{
    padding: 40px;
    border-bottom: 1px solid white;
    border-top: 1px solid #2B2B2B;
    font-family: 'Recursive', sans-serif;  
    font-size: 20px;
}

.wrapper .sidebar ul li a{
    color: white;
    display: block;
}
.wrapper .sidebar ul li a .fas{
    width: 25px;
    font-size: 20px;
    

}

.wrapper .sidebar ul li:hover{
    background: #3a3a3a;
}
.wrapper .sidebar ul li:hover a{

}

.wrapper .sidebar .social {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.wrapper .sidebar .social a{
    display: block;
    width: 50px;
    background:#5a5a5a;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;
    color: white;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
}
.wrapper .main_content{
    width: 100%;
    margin-left: 300px;
  }
  
  .wrapper .main_content .header{
    padding: 20px;
    background: #fff;
    color: black;
    border-bottom: 1px solid #e0e4e8;
    font-size: 60px;
    text-align: center;
    font-family: 'Spectral', serif;
  
  }
  
  .wrapper .main_content .info{
    margin: 20px;
    color: black;
    line-height: 25px;
    font-family: 'Recursive', sans-serif;
  }
  
  .wrapper .main_content .info div{
    margin-bottom: 20px;
  }

.wrapper .main_content .slideshow {
    text-align: center;
}