@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

* 
    { box-sizing: border-box;
        margin:0;
        padding: 0;
        background-color: #ececec;
    }
    

    li, a, button {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: black;
    text-decoration: none;
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}
.logo{width: 200px; height: auto;
    margin-left: -100px;
cursor: pointer;}

.navlinks {list-style: none;}

.navlinks li{
    display: inline-block;
    padding: 0px 20px;
}
.navlinks li a {
    transition: all 0.3s ease 0s;
}
.navlinks li a:hover {
    color: rgb(123, 165, 40);
}
button {padding: 9px 25px;
background-color: black;
border: none;
border-radius: 50px;
cursor:pointer;
transition: all 0.3s ease 0s;
color: white;
}
button:hover{background-color:rgba(172, 255, 47, 0.836);
color: black;}
